@font-face {
    font-family: "turtles-webfont";
    src: url(../fonts/turtles-webfont.otf);
    }

body {
    background-color: #95CA60;
}

.card-title.inline {
    display: inline;
}

.card-header {
    background-color: rgb(251, 0, 0);
    border-bottom: 2px solid rgba(0, 0, 0, 0.38);
}

.fighterCardHeader {

    border-top-left-radius: 35px !important;
    border-top-right-radius: 35px!important;

}



.card {
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

h3 {
    font-family: turtles-webfont;
    font-size: 30px;
    letter-spacing: 2px;
    color: black;
    /* -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #333; */

}

.attack-btn {
    border-radius: 20px;
}

.btn-danger {
    background-color: #fb0000;
    border-color: #fb0000;
}

.jumbotron {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #95ca60;
    border-bottom: 10px solid #FB0000;
    box-shadow: 0px 3px 5px 0px rgb(35, 35, 35);
}

.turtle-logo {
    position: relative;
    left: -22px;
    height: 275px;
}


/* .fighters-body {
    min-height: 400px;
} */

#characterRow-cardBody {
    min-height: 380px;
}

#modalTitle img {
    width: 225px;
    position: relative;
    left: -9px;
}

.modal-content {
    background-color: #95ca60;
    border-radius: 55px;
    border: 5px solid #fb0000;
}

.modal-header {
    padding-bottom: 0px;
    border-bottom: none;
}

.modal-body {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 40px;
}

.modal-footer {
    border-top: none;
}

.modal-backdrop {
    opacity: 0;
}